In [1]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib

calls_service = pd.read_csv('mfdems.csv')
liq_lic = pd.read_csv('liquorlicenses.csv')
nat_irs_16 = pd.read_csv('16zpallagi.csv')

In [2]:
mke_zip = [x for x in calls_service['ZIP Code'].unique().astype(int) if ~np.isnan(x)]
mke_ald = [x for x in calls_service['Aldermanic District'].unique().astype(int) if ~np.isnan(x)]
mke_irs_16 = nat_irs_16[nat_irs_16['zipcode'].isin(mke_zip)]

In [3]:
service_by_zip = calls_service[["ZIP Code","Original Call for Service Type"]].groupby(['ZIP Code'], as_index=True).agg(['count']).sort_values(by='ZIP Code', ascending=True)

In [4]:
df=calls_service
df['Incident Date'] = pd.to_datetime(df['Incident Date'])
df['Incident Date'] = df['Incident Date'].dt.strftime('%Y-%m')
#liq_lic['ALDERMANIC_DISTRICT'] = liq_lic['ALDERMANIC_DISTRICT'].astype(np.float64)

In [5]:
cardiac = calls_service[calls_service['Final Call for Service Type']=='Cardiac or Respiratory Arrest/Death'].groupby(['Aldermanic District'], as_index=True).agg(['count'])['Final Call for Service Type']
cardiac.columns = ['Incidents of Cardiac or Respiratory Arrest/Death']

In [6]:
downgraded = calls_service[calls_service['Final Call for Service Type']=='Downgraded Response'].groupby(['Aldermanic District'], as_index=False).agg(['count'])['Final Call for Service Type']
downgraded.columns = ['Incidents of Downgraded Response']

In [7]:
liq_avail = liq_lic[['ALDERMANIC_DISTRICT','EXP_DATE']].groupby(['ALDERMANIC_DISTRICT'], as_index=True).agg(['count']).sort_values(by='ALDERMANIC_DISTRICT', ascending=True)
liq_avail = liq_avail['EXP_DATE']
liq_avail.columns=['# of Places with Liquor Licenses']
#liq_avail.head()

In [11]:
card_liq_down = cardiac.merge(liq_avail,left_index=True,right_index=True,how='left').merge(downgraded,left_index=True,right_index=True,how='left')

In [19]:
card_liq_down.sort_values(by='Incidents of Cardiac or Respiratory Arrest/Death',ascending=False).head()

,Incidents of Cardiac or Respiratory Arrest/Death,# of Places with Liquor Licenses,Incidents of Downgraded Response
Aldermanic District,,,
9.0,106,32,106
13.0,97,91,92
15.0,96,58,362
4.0,86,269,301
6.0,82,99,206

In [20]:
card_liq_down.sort_values(by='# of Places with Liquor Licenses',ascending=False).head()

,Incidents of Cardiac or Respiratory Arrest/Death,# of Places with Liquor Licenses,Incidents of Downgraded Response
Aldermanic District,,,
4.0,86,269,301
3.0,56,188,119
12.0,81,188,206
14.0,54,124,79
6.0,82,99,206

In [21]:
card_liq_down.sort_values(by='Incidents of Downgraded Response',ascending=False).head()

,Incidents of Cardiac or Respiratory Arrest/Death,# of Places with Liquor Licenses,Incidents of Downgraded Response
Aldermanic District,,,
15.0,96,58,362
4.0,86,269,301
7.0,81,30,263
2.0,77,22,248
6.0,82,99,206