In [1]:
## looking into public services accessibility by zip-code, alderman district
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib
from matplotlib.pyplot import plot

calls_service = pd.read_csv('mfdems.csv') # EMS Calls for Service Milwaukee
liq_lic = pd.read_csv('liquorlicenses.csv') # Liquor License data Milwaukee
## https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-zip-code-data-soi
nat_irs_16 = pd.read_csv('16zpallagi.csv') # IRS Data 2016
nat_irs_16['zipcode'] = nat_irs_16['zipcode'].astype(np.float64)

In [2]:
calls_service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118921 entries, 0 to 118920
Data columns (total 5 columns):
Original Call for Service Type    118921 non-null object
Final Call for Service Type       118921 non-null object
Incident Date                     118921 non-null object
ZIP Code                          100792 non-null float64
Aldermanic District               112679 non-null float64
dtypes: float64(2), object(3)
memory usage: 4.5+ MB

In [22]:
mke_zipcodes = [x for x in calls_service['ZIP Code'].unique() if ~np.isnan(x)]
mke_alderdists = [x for x in calls_service['Aldermanic District'].unique() if ~np.isnan(x)]
mke_irs_16 = nat_irs_16[nat_irs_16['zipcode'].isin(mke_zipcodes)]
mke_irs_16.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
174830,55,WI,53051.0,1,5240,4460,530,230,1980,4570,...,2360,1824,0,0,0,0,480,302,4070,4469
174831,55,WI,53051.0,2,3810,2530,850,370,1680,5600,...,3490,9943,0,0,0,0,660,789,3050,5726
174832,55,WI,53051.0,3,2820,1340,1210,230,1420,5220,...,2740,16056,0,0,0,0,650,1174,2070,4988
174833,55,WI,53051.0,4,2290,480,1660,130,1130,5440,...,2270,19562,0,0,0,0,590,1398,1640,4875
174834,55,WI,53051.0,5,3880,350,3430,100,1900,11110,...,3860,66942,20,8,0,0,1340,4769,2390,9419

In [29]:
mke_zip_irs = mke_irs_16[['zipcode','N1','N2','NUMDEP','ELDERLY']].groupby(['zipcode']).sum()
mke_zip_irs.columns = ['returns','exemptions','dependents','elderly']
mke_zip_irs.head()

         returns  exemptions  dependents  elderly
zipcode
53051.0    19360       36240        9780     5950
53110.0     9290       16160        4400     2440
53130.0     4150        7360        1900     1290
53132.0    17430       33400        9420     5470
53154.0    18000       33730        9850     3940

In [18]:
mke_zip_agi_irs = mke_irs_16[['zipcode','agi_stub','N1','N2','NUMDEP','ELDERLY']].groupby(['zipcode','agi_stub']).sum()
mke_zip_agi_irs.columns = ['returns','exemptions','dependents','elderly']
mke_zip_agi_irs['returns_pct_zip'] = 100 * mke_zip_agi_irs['returns'] / mke_zip_agi_irs.groupby(level=[0])['returns'].transform('sum')
mke_zip_agi_irs.head()

                  returns  exemptions  dependents  elderly  returns_pct_zip
zipcode agi_stub
53051.0 1            5240        4570         540     1660        27.066116
        2            3810        5600         970     1220        19.679752
        3            2820        5220        1190     1000        14.566116
        4            2290        5440        1500      780        11.828512
        5            3880       11110        3810     1020        20.041322

In [5]:
agi_foreach_zip = mke_irs_16[['zipcode','agi_stub','N1']].pivot(index='agi_stub',columns='zipcode',values='N1')
agi_foreach_zip

zipcode,53051.0,53110.0,53130.0,53132.0,53154.0,53172.0,53202.0,53203.0,53204.0,53205.0,...,53220.0,53221.0,53222.0,53223.0,53224.0,53225.0,53226.0,53227.0,53228.0,53233.0
agi_stub,,,,,,,,,,,,,,,,,,,,,
1,5240,3310,1220,4750,5240,3720,3770,290,8920,2170,...,4760,7020,3900,5290,3950,5180,2530,4010,2440,1960
2,3810,2680,940,3140,4150,2830,3990,310,4930,820,...,4180,5190,3520,3680,2480,3520,2010,3850,1910,670
3,2820,1550,670,2440,2940,1660,2720,220,1130,230,...,2360,2890,2270,2030,1150,1380,1650,2170,1240,150
4,2290,920,470,2120,2080,1080,1190,100,330,80,...,1320,1700,1360,1110,700,740,1150,1210,930,40
5,3880,770,730,3880,3170,1100,1610,120,240,90,...,1270,1650,1430,1080,850,590,1890,1060,1220,40
6,1320,60,120,1100,420,100,990,90,110,0,...,110,150,140,120,100,50,650,100,230,0

In [6]:
agi_by_zip = mke_irs_16[['zipcode','agi_stub','N1']].pivot(index='zipcode',columns='agi_stub',values='N1')
pop_by_zip = mke_irs_16[['zipcode','N1']].groupby(['zipcode']).agg(['sum'])['N1']
errythang = pop_by_zip.join(agi_by_zip)
errythang.head()

           sum     1     2     3     4     5     6
zipcode
53051.0  19360  5240  3810  2820  2290  3880  1320
53110.0   9290  3310  2680  1550   920   770    60
53130.0   4150  1220   940   670   470   730   120
53132.0  17430  4750  3140  2440  2120  3880  1100
53154.0  18000  5240  4150  2940  2080  3170   420

In [7]:
df=calls_service
df['Incident Date'] = pd.to_datetime(df['Incident Date'])
df['Incident Date'] = df['Incident Date'].dt.strftime('%Y-%m')
call_types = [x for x in df['Final Call for Service Type'].unique()]
call_types.sort()
print(call_types)

['ALARM', 'APPL', 'AUTOF', 'AUTOX', 'Abdominal Pain/Problems', 'Academy - Medical', 'Allergies (Reactions)/Envenomations (Stings, Bites)', 'Animal Bites/Attacks', 'Assault/Sexual Assault', 'Auto Accident', 'Auto Accident - Multiple Injuries', 'BTB1', 'BTB2', 'BTB3', 'Back Pain (Non-Traumatic or Non-Recent Trauma)', 'Bariatric Patient', 'Breathing Problems', 'Burns (Scalds)/Explosion (Blast)', 'CARBON', 'CTB1', 'CTB2', 'CTB3', 'Carbon Monoxide/Inhalation/Hazmat/CBRN', 'Cardiac or Respiratory Arrest/Death', 'Chest Pain (Non-Traumatic)', 'Choking', 'Combative Patient', 'Community Paramedic', 'Convulsions/Seizures', 'DIVE', 'Diabetic Problems', 'Downgraded Response', 'Drowning (Near)/Diving/Scuba Accident', 'ELECT', 'ELEV', 'ER', 'Electrocution/Lightning', 'Eye Problems/Injuries', 'FBRESP', 'FLUSH', 'FORCE', 'FULL', 'FULL2', 'FULL3', 'FULL4', 'Falls', 'Fire Station', 'GARAGE', 'GAS', 'GMIA2', 'GMIA3', 'GRASS', 'HAZMAT', 'HEAT', 'HIRISE1', 'HIRISE3', 'HRRESP', 'HURT', 'HURTRESP', 'Headache', 'Heart Problems/A.I.C.D.', 'Heat/Cold Exposure', 'Hemorrhage/Lacerations', 'IR', 'Inaccessible Incident/Other Entrapments (Non-Vehicle)', 'LHAZMAT', 'LOCK', 'LR', 'Law - Medical', 'Lifting Assistance', 'Long Response', 'MABAS', 'MED Special Call', 'MED Unit Special Call', 'MFDPI', 'MTB1', 'MTB2', 'MTB3', 'Medical Personnel On Scene', 'Multiple MED Response', 'OOCFIRE', 'Out-of-City MED', 'Overdose/Poisoning (Ingestion)', 'PETROL', 'POLEF', 'PTB1', 'PTB2', 'PTB3', 'Pregnancy/Childbirth/Miscarriage', 'Psychiatric/Abnormal Behavior/Suicide Attempt', 'RIVERK', 'RUBB', 'SMOKE', 'SUSP', 'Sick Person (Specific Diagnosis)', 'Stab/Gunshot/Penetrating Trauma', 'Still Alarm in Qtrs', 'Stroke (CVA)/Transient Ischemic Attack (TIA)', 'TEMS', 'TEN54', 'TESTF', 'TREEF', 'Traffic/Transportation Accidents', 'Transfer-Interfacility', 'Traumatic Injuries (Specific)', 'Unconscious', 'Unconscious/Fainting (Near)', 'Unknown Problem (Man Down)', 'WATER', 'WIRES']

In [8]:
## group by original call type and aggregate by count
df.groupby('Original Call for Service Type').agg(['count'])['Incident Date'].sort_values(by='count',ascending=False).head()

                                  count
Original Call for Service Type
Sick Person (Specific Diagnosis)  18346
Breathing Problems                12116
Unknown Problem (Man Down)         8604
Falls                              7400
Traffic/Transportation Accidents   7211

In [9]:
## group by final call type and aggregate by count
df.groupby('Final Call for Service Type').agg(['count'])['Incident Date'].sort_values(by='count',ascending=False).head()

                                  count
Final Call for Service Type
Sick Person (Specific Diagnosis)  17342
Breathing Problems                10815
Unknown Problem (Man Down)         7824
Falls                              6943
Traffic/Transportation Accidents   6525

In [10]:
## Clearly there is a difference between the listings of original call type and final call type
df.groupby(['Original Call for Service Type','Final Call for Service Type']).agg(['count'])

                                                                             Incident Date  \
                                                                                     count
Original Call for Service Type Final Call for Service Type
ALARM                          ALARM                                                  4801
                               APPL                                                      1
                               CARBON                                                    1
                               ELEV                                                      1
                               FULL                                                      9
                               HIRISE1                                                   4
                               LHAZMAT                                                   1
                               LR                                                        1
                               OOCFIRE                                                   1
                               SMOKE                                                    13
                               WATER                                                     1
APPL                           APPL                                                    299
                               AUTOF                                                     2
                               FULL                                                     12
                               LR                                                        1
                               SMOKE                                                     1
AUTOF                          AUTOF                                                   743
                               AUTOX                                                     6
                               FULL                                                      1
                               GARAGE                                                   13
                               HAZMAT                                                    2
                               MFDPI                                                     1
AUTOX                          AUTOX                                                   332
                               CTB1                                                      2
                               MTB2                                                      2
                               PTB1                                                      2
                               PTB3                                                      1
                               Traffic/Transportation Accidents                          3
Abdominal Pain/Problems        Abdominal Pain/Problems                                2630
                               Assault/Sexual Assault                                    1
...                                                                                    ...
Unknown Problem (Man Down)     FORCE                                                    11
                               Falls                                                     7
                               Fire Station                                              1
                               GAS                                                       1
                               Headache                                                  6
                               Heart Problems/A.I.C.D.                                   2
                               Heat/Cold Exposure                                        3
                               Hemorrhage/Lacerations                                    1
                               MED Special Call                                          7
                               MED Unit Special Call                                   450
                               MTB1                                                     17
                               MTB2                                                      8
                               Medical Personnel On Scene                                1
                               Multiple MED Response                                     1
                               Overdose/Poisoning (Ingestion)                            8
                               PTB1                                                     27
                               PTB2                                                      6
                               PTB3                                                      5
                               Pregnancy/Childbirth/Miscarriage                          2
                               Psychiatric/Abnormal Behavior/Suicide Attempt             2
                               Sick Person (Specific Diagnosis)                         21
                               Stab/Gunshot/Penetrating Trauma                           1
                               Stroke (CVA)/Transient Ischemic Attack (TIA)              2
                               Traffic/Transportation Accidents                          8
                               Traumatic Injuries (Specific)                             1
                               Unconscious/Fainting (Near)                              27
                               Unknown Problem (Man Down)                             7812
WATER                          WATER                                                   219
WIRES                          GARAGE                                                    1
                               WIRES                                                   241

                                                                             ZIP Code  \
                                                                                count
Original Call for Service Type Final Call for Service Type
ALARM                          ALARM                                             4769
                               APPL                                                 0
                               CARBON                                               0
                               ELEV                                                 0
                               FULL                                                 1
                               HIRISE1                                              0
                               LHAZMAT                                              0
                               LR                                                   0
                               OOCFIRE                                              0
                               SMOKE                                                3
                               WATER                                                0
APPL                           APPL                                               297
                               AUTOF                                                2
                               FULL                                                 0
                               LR                                                   0
                               SMOKE                                                0
AUTOF                          AUTOF                                              734
                               AUTOX                                                1
                               FULL                                                 0
                               GARAGE                                               7
                               HAZMAT                                               2
                               MFDPI                                                0
AUTOX                          AUTOX                                              324
                               CTB1                                                 0
                               MTB2                                                 0
                               PTB1                                                 0
                               PTB3                                                 0
                               Traffic/Transportation Accidents                     0
Abdominal Pain/Problems        Abdominal Pain/Problems                           2614
                               Assault/Sexual Assault                               0
...                                                                               ...
Unknown Problem (Man Down)     FORCE                                                0
                               Falls                                                2
                               Fire Station                                         0
                               GAS                                                  0
                               Headache                                             3
                               Heart Problems/A.I.C.D.                              0
                               Heat/Cold Exposure                                   0
                               Hemorrhage/Lacerations                               0
                               MED Special Call                                     0
                               MED Unit Special Call                               23
                               MTB1                                                 0
                               MTB2                                                 0
                               Medical Personnel On Scene                           0
                               Multiple MED Response                                0
                               Overdose/Poisoning (Ingestion)                       0
                               PTB1                                                 0
                               PTB2                                                 0
                               PTB3                                                 0
                               Pregnancy/Childbirth/Miscarriage                     0
                               Psychiatric/Abnormal Behavior/Suicide Attempt        1
                               Sick Person (Specific Diagnosis)                     2
                               Stab/Gunshot/Penetrating Trauma                      0
                               Stroke (CVA)/Transient Ischemic Attack (TIA)         1
                               Traffic/Transportation Accidents                     0
                               Traumatic Injuries (Specific)                        0
                               Unconscious/Fainting (Near)                          0
                               Unknown Problem (Man Down)                        7703
WATER                          WATER                                              217
WIRES                          GARAGE                                               1
                               WIRES                                              237

                                                                             Aldermanic District
                                                                                           count
Original Call for Service Type Final Call for Service Type
ALARM                          ALARM                                                        4573
                               APPL                                                            1
                               CARBON                                                          1
                               ELEV                                                            0
                               FULL                                                            8
                               HIRISE1                                                         4
                               LHAZMAT                                                         1
                               LR                                                              1
                               OOCFIRE                                                         0
                               SMOKE                                                          13
                               WATER                                                           1
APPL                           APPL                                                          292
                               AUTOF                                                           2
                               FULL                                                           12
                               LR                                                              1
                               SMOKE                                                           1
AUTOF                          AUTOF                                                         646
                               AUTOX                                                           5
                               FULL                                                            1
                               GARAGE                                                         11
                               HAZMAT                                                          2
                               MFDPI                                                           0
AUTOX                          AUTOX                                                         268
                               CTB1                                                            2
                               MTB2                                                            2
                               PTB1                                                            2
                               PTB3                                                            1
                               Traffic/Transportation Accidents                                3
Abdominal Pain/Problems        Abdominal Pain/Problems                                      2569
                               Assault/Sexual Assault                                          1
...                                                                                          ...
Unknown Problem (Man Down)     FORCE                                                          11
                               Falls                                                           7
                               Fire Station                                                    1
                               GAS                                                             1
                               Headache                                                        6
                               Heart Problems/A.I.C.D.                                         2
                               Heat/Cold Exposure                                              3
                               Hemorrhage/Lacerations                                          1
                               MED Special Call                                                7
                               MED Unit Special Call                                         427
                               MTB1                                                           16
                               MTB2                                                            8
                               Medical Personnel On Scene                                      1
                               Multiple MED Response                                           1
                               Overdose/Poisoning (Ingestion)                                  7
                               PTB1                                                           26
                               PTB2                                                            6
                               PTB3                                                            5
                               Pregnancy/Childbirth/Miscarriage                                2
                               Psychiatric/Abnormal Behavior/Suicide Attempt                   2
                               Sick Person (Specific Diagnosis)                               19
                               Stab/Gunshot/Penetrating Trauma                                 1
                               Stroke (CVA)/Transient Ischemic Attack (TIA)                    2
                               Traffic/Transportation Accidents                                8
                               Traumatic Injuries (Specific)                                   1
                               Unconscious/Fainting (Near)                                    24
                               Unknown Problem (Man Down)                                   7327
WATER                          WATER                                                         214
WIRES                          GARAGE                                                          1
                               WIRES                                                         229

[737 rows x 3 columns]

In [11]:
all_calls_by_zip = df[["ZIP Code","Original Call for Service Type"]].groupby(['ZIP Code'], as_index=True).agg(['count']).sort_values(by='ZIP Code', ascending=True)['Original Call for Service Type']
all_calls_by_zip.columns = ['ServiceCalls']
sick_byZip = df[df['Original Call for Service Type']=='Sick Person (Specific Diagnosis)'].groupby('ZIP Code',as_index=True).agg(['count'])['Original Call for Service Type']
sick_byZip.columns=['SickPerson']

service_byZip = all_calls_by_zip.join(sick_byZip)
#
errythang.sort_values(by='zipcode')
service_byZip.sort_values(by= 'ZIP Code')
errythang = errythang.merge(service_byZip, left_index=True, right_index=True, how='left')
errythang.sort_values(by=['ServiceCalls','SickPerson'], ascending=False)

           sum      1     2     3     4     5     6  ServiceCalls  SickPerson
zipcode
53206.0   8380   5790  2000   390   120    80     0          8945      1595.0
53209.0  19900   9860  5340  2180  1120  1170   230          8527      1511.0
53218.0  16670   8980  5100  1610   610   370     0          7854      1368.0
53204.0  15660   8920  4930  1130   330   240   110          6834      1152.0
53212.0  12930   6560  3770  1360   570   520   150          6725      1218.0
53216.0  13580   6950  4050  1440   640   460    40          6632      1136.0
53215.0  24440  12170  8210  2580   910   540    30          6065       940.0
53208.0  12570   6340  3420  1390   630   680   110          5997      1064.0
53210.0  10650   5900  2850   950   420   490    40          5966      1075.0
53202.0  14270   3770  3990  2720  1190  1610   990          4212       677.0
53223.0  13310   5290  3680  2030  1110  1080   120          3991       681.0
53233.0   2860   1960   670   150    40    40     0          3989       699.0
53207.0  18870   5700  5540  3410  1970  2020   230          3544       526.0
53225.0  11460   5180  3520  1380   740   590    50          3410       639.0
53224.0   9230   3950  2480  1150   700   850   100          3184       585.0
53221.0  18600   7020  5190  2890  1700  1650   150          2975       474.0
53205.0   3390   2170   820   230    80    90     0          2469       439.0
53222.0  12620   3900  3520  2270  1360  1430   140          1973       340.0
53219.0  17320   5900  5380  2980  1650  1340    70          1432       220.0
53211.0  15570   5340  3140  1970  1260  2300  1560          1348       212.0
53214.0  17490   6670  5640  2770  1370   980    60          1340       136.0
53203.0   1130    290   310   220   100   120    90          1301       199.0
53220.0  14000   4760  4180  2360  1320  1270   110           905       137.0
53213.0  13500   3380  3030  2210  1400  2580   900           351        43.0
53227.0  12400   4010  3850  2170  1210  1060   100           324        38.0
53228.0   7970   2440  1910  1240   930  1220   230           194        27.0
53226.0   9880   2530  2010  1650  1150  1890   650           145        24.0
53217.0  14490   3390  1960  1680  1400  3300  2760            81         6.0
53154.0  18000   5240  4150  2940  2080  3170   420            58         NaN
53110.0   9290   3310  2680  1550   920   770    60             7         NaN
53172.0  10490   3720  2830  1660  1080  1100   100             6         NaN
53132.0  17430   4750  3140  2440  2120  3880  1100             4         NaN
53051.0  19360   5240  3810  2820  2290  3880  1320             3         NaN
53130.0   4150   1220   940   670   470   730   120             1         NaN

In [12]:
# MKE Service Call data
cardiac = df[df['Final Call for Service Type']=='Cardiac or Respiratory Arrest/Death'].groupby(['Aldermanic District'], as_index=True).agg(['count'])['Final Call for Service Type']
cardiac.columns = ['CardiacOrRespiratoryArrest/Death']
downgraded = df[df['Final Call for Service Type']=='Downgraded Response'].groupby(['Aldermanic District'], as_index=False).agg(['count'])['Final Call for Service Type']
downgraded.columns = ['DowngradedResponse']
#### Assault is only organized by Aldermanic District; can't get it by ZIP Code
assault_byAldDist = df[df['Final Call for Service Type']=='Assault/Sexual Assault'].groupby('Aldermanic District',as_index=True).agg(['count'])['Final Call for Service Type']
assault_byAldDist.columns=['Assault/SexualAssault']
any_service_call = df[['Aldermanic District','Final Call for Service Type']].groupby(['Aldermanic District'], as_index=True).agg(['count'])['Final Call for Service Type']
any_service_call.columns = ['ServiceCalls']
## MKE Liquor License data
liq_avail = liq_lic[['ALDERMANIC_DISTRICT','EXP_DATE']].groupby(['ALDERMANIC_DISTRICT'], as_index=True).agg(['count']).sort_values(by='ALDERMANIC_DISTRICT', ascending=True)['EXP_DATE']
liq_avail.columns=['LiquorLicenses']

In [13]:
any_card_down = any_service_call.join(cardiac.join(downgraded)).join(assault_byAldDist)
all_byAldDist = any_card_down.merge(liq_avail,left_index=True,right_index=True,how='left')

In [14]:
all_byAldDist.sort_values(by=['ServiceCalls','Assault/SexualAssault','CardiacOrRespiratoryArrest/Death','DowngradedResponse','LiquorLicenses'], ascending=False)

,ServiceCalls,CardiacOrRespiratoryArrest/Death,DowngradedResponse,Assault/SexualAssault,LiquorLicenses
Aldermanic District,,,,,
15.0,12867,96,362,878,58
6.0,11953,82,206,756,99
4.0,11200,86,301,408,269
1.0,10595,68,194,591,35
7.0,10492,81,263,646,30
2.0,8807,77,248,466,22
9.0,8024,106,106,294,32
12.0,7033,81,206,425,188
8.0,5276,68,92,274,68
10.0,5166,70,79,164,65
5.0,5156,49,160,171,30
13.0,4718,97,92,85,91
3.0,3941,56,119,84,188
11.0,3807,70,87,50,36
14.0,3644,54,79,124,124

In [15]:
## Notice that District 4 is in the top five of all three lists!
## That's not a good thing

In [16]:
all_byAldDist.plot(x='LiquorLicenses',y='CardiacRespiratoryArrestDeath', style='o')
all_byAldDist.plot(x='LiquorLicenses',y='DowngradedResponse', style='o')

KeyError: 'CardiacRespiratoryArrestDeath'